/* .list-item {
    background-color: white;
    border: 1px solid;
    display: flex;
    border-radius: 15px;
    padding: 0.5rem;
}

.checkbox {
    
}

.title {
    margin: 0;
}

.title input {
    border: 0px solid;
} */
